<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body class="detailbody">
  <%- include('sidepanel') %>
  <div class="main">
    <h2><%= docs.title %></h2>
    <div class="container">
      <p><%= docs.content %></p>
      <button type="button" class="general-button" onclick="window.open('<%= docs.link %>', '_blank')"><span class="material-symbols-outlined">open_in_new</span>書類を見る</button>
      <p class="guide">※Google Drive等の外部サイトに繋がる可能性があります</p>
    </div>
  </div>
</body>
</html>