<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <%- include('sidepanel') %>
  <div class="main">
    <h1>配布資料</h1>
    <div class="container">
      <ul>
        <% for (let i = 0; i < docs.length; i++) { %>
        <li class="cct-l">
          <a class="cct-list" href="/docs/<%= docs[i].id %>">
            <p class="cct-title"><%= docs[i].title %></p>
            <p class="cct-date"><%= docs[i].createdDate.toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></p>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</body>
</html>